*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    padding: 40px;
    margin: 40px;
    gap: 10px;
}

.controls {
    display: inline-grid;
    margin: auto;
}
.btn {
    font-size: x-large;
    background-color: aqua;
    color: white;
}

#start-btn{
    background-color: green;
    margin-left: 375px;
}

#question {
    font-size: xx-large;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    font-weight: 700;;
}